{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<!-- HERO -->
<section id="home" class="vh-100 home-section">
    <div class="home-left">
        <div class="container mx-auto" data-aos="fade-up">
            <h1 class="fw-bold mb-4">Hi, I am</h1>
            <h1 class="fw-bold">Dipesh Luitel</h1>
            <p class="fw-bold title">Django Developer | BSc CSIT</p>
            <a href="#projects" class="btn home-btn mt-5" data-aos="fade-right">View Project</a>


            <div class="logo-home mt-4" data-aos="fade-right">
                <a href="https://www.github.com/dipeshluitel" target="_blank">
                    <img src="{%static 'portfolio/images/github.png' %}" class="logo-img-top" alt="github">
                </a>
                <a href="https://www.linkedin.com/in/dipeshluitel/" target="_blank">
                    <img src="{%static 'portfolio/images/linkedIn.png' %}" class="logo-img-top" alt="linkedin">
                </a>
                <a href="mailto:dipeshluitel40@gmail.com" target="_blank">
                    <img src="{%static 'portfolio/images/mail.png' %}" class="logo-img-top" alt="mail">
                </a>
            </div>
        </div>
    </div>


    <div class="home-right">
        <img src="{% static 'portfolio/images/portfolioDp.png' %}" alt="Dipesh" data-aos="fade-left">
    </div>
</section>


<!-- ABOUT -->
<section id="about" class="py-5">
    <div class="container about-section text-center" data-aos="fade-right">
        <h2 class="about-me mb-5">ABOUT ME</h2>
        <p class="mx-auto">A passionate BSc.CSIT student and aspiring full-stack developer from Nepal. I specialize in
            Python
            programming, web development, and interactive projects using Django and JavaScript. I enjoy building
            creative and practical solutions.I build
            scalable Django web applications.</p>
    </div>
    <div class="about-detail container-fluid mt-5">
        <div class="row justify-content-center g-4 text-center">
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="about-card" data-aos="fade-right">
                    <h2>DESIGN</h2>
                    <p>I can design the site based on your needs and suggestions. I can also design the site from
                        scratch and consult you during the job.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
                <div class="about-card" data-aos="fade-left">
                    <h2>DEVELOPMENT</h2>
                    <p>I can develop Scalable Project, I majorly use Django Web Framework which makes the development
                        robust, scalable and secure</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="about-card" data-aos="fade-up">
                    <h2>MAINTENANCE</h2>
                    <p>I can take ownership of the project's maintenance backlog, implementing necessary updates and bug
                        fixes to ensure its stability and performance.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="skills" class="py-8">
    <div class="container skill ">
        <div class="text-center">
            <h2 class="mb-5 mx-auto" data-aos="fade-right">SKILLS</h2>
        </div>
        <h3 class="mb-5" data-aos="fade-right">USING NOW:</h3>
        <div class="row">
            {% for stack in stacksUsed %}
            <div class="col-md-4 col-sm-6 icons">
                <div data-aos="fade-up">
                    <img src="{{ stack.icon.url }}" alt="{{stack.name}}" class="skill-icon">
                    <p class="fw-medium text-center mt-2">{{ stack.name }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <h3 class="mb-5" data-aos="fade-right">LEARNING:</h3>
        <div class="row">
            {% for stack in stacksLearning %}
            <div class="col-lg-3 col-md-4 col-sm-6 icons">
                <div data-aos="fade-up">
                    <img src="{{ stack.icon.url }}" alt="{{stack.name}}" class="skill-icon">
                    <p class="fw-medium text-center mt-2">{{ stack.name }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</section>

<!-- PROJECTS -->
<section id="projects" class="py-5">
    <div class="container skill" data-aos="fade-right">
        <div class="text-center">
            <h2 class="text-center mb-4">PROJECTS</h2>
        </div>
        <div class="row mt-5">
            {% for project in projects %}
            <div class=" col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                <a href="{{project.github}}" target="_blank">
                    <div class="card project-card h-100 shadow">
                        <img src="{{ project.image.url }}" class="card-img-top">
                        <div class="card-body">
                            <h5>{{ project.title }}</h5>
                            <p>{{ project.description}}</p>
                        </div>

                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact" class="py-5">
    {% if messages %}
    {% for message in messages %}
    <div class="d-flex justify-content-center mt-3">
        <div class="alert alert-{{ message.tags }} d-flex align-items-center justify-content-center w-75" role="alert">

            <!-- Success Icon -->
            {% if message.tags == 'success' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="bi flex-shrink-0 me-2"
                viewBox="0 0 16 16" role="img" aria-label="Success:">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.293 9.707l-2-2 .707-.707 1.293 1.293L12.293 4l.707.707-6.707 6.707z" />
            </svg>

            <!-- Error Icon -->
            {% elif message.tags == 'error' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="bi flex-shrink-0 me-2"
                viewBox="0 0 16 16" role="img" aria-label="Error:">
                <path
                    d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0 4a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 5zm0 6a.75.75 0 1 1 0 1.5A.75.75 0 0 1 8 11z" />
            </svg>

            <!-- Warning/Other Icon -->
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="bi flex-shrink-0 me-2"
                viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            {% endif %}

            <!-- Message Text -->
            <div>
                {{ message }}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container text-center skill contact" data-aos="fade-up">
        <h2 class="mb-5">CONTACT</h2>
        <p>Thank you for visiting my portfolio. If you have any questions about my work or would like to discuss a
            potential project, please use the form below or connect with me via <span class="fw-bolder contact-link"> <a
                    href="https://www.linkedin.com/in/dipeshluitel/" target="_blank">LinkedIn.</a>
            </span>I look forward to hearing from
            you.</p>
        <div id="form-message"></div>
        <form method="POST" id="contactForm" class="form mx-auto">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.name }}
            </div>

            <div class="mb-3">
                {{ form.email }}
            </div>

            <div class="mb-3">
                {{ form.phone_number }}
            </div>

            <div class="mb-3">
                {{ form.message }}
            </div>

            <button type="submit" class="form-btn">
                Send Message
            </button>
        </form>
    </div>
</section>

<div class="card footer">
    <div class="card-body mx-auto p-4 m-4">
        <a href="#home" class="btn-btn mb-5">
            BACK TO TOP
        </a>

        <div class="logo m-4">
            <a href="https://www.github.com/dipeshluitel" target="_blank">
                <img src="{%static 'portfolio/images/github.png' %}" class="logo-img" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/dipeshluitel/" target="_blank">
                <img src="{%static 'portfolio/images/linkedIn.png' %}" class="logo-img" alt="linkedin">
            </a>
            <a href="mailto:dipeshluitel40@gmail.com" target="_blank">
                <img src="{%static 'portfolio/images/mail.png' %}" class="logo-img" alt="mail">
            </a>
        </div>
        <p class="card-text">Made with ❤️ By: Dipesh Luitel
        </p>

    </div>
</div>

{% endblock %}