{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<!-- HERO -->
<section id="home" class="vh-100 home-section">
    <div class="home-left">
        <div class="container mx-auto" data-aos="fade-up">
            <h1 class="fw-bold mb-4">Hi, I am</h1>
            <h1 class="fw-bold">Dipesh Luitel</h1>
            <p class="fw-bold title">Django Developer | BSc CSIT</p>
            <a href="#projects" class="btn home-btn mt-5" data-aos="fade-right">View Project</a>


            <div class="logo-home mt-4" data-aos="fade-right">
                <a href="https://www.github.com/dipeshluitel" target="_blank">
                    <img src="{%static 'portfolio/images/github.png' %}" class="logo-img-top" alt="github">
                </a>
                <a href="https://www.linkedin.com/in/dipeshluitel/" target="_blank">
                    <img src="{%static 'portfolio/images/linkedIn.png' %}" class="logo-img-top" alt="linkedin">
                </a>
                <a href="mailto:dipeshluitel40@gmail.com" target="_blank">
                    <img src="{%static 'portfolio/images/mail.png' %}" class="logo-img-top" alt="mail">
                </a>
            </div>
        </div>
    </div>


    <div class="home-right">
        <img src="{% static 'portfolio/images/portfolioDP.png' %}" alt="Dipesh" data-aos="fade-left">
    </div>
</section>

<!-- ABOUT -->
<section id="about" class="py-5">
    <div class="container about-section text-center" data-aos="fade-right">
        <h2 class="about-me mb-5">ABOUT ME</h2>
        <p class="mx-auto">A passionate BSc.CSIT student and aspiring full-stack developer from Nepal. I specialize in
            Python
            programming, web development, and interactive projects using Django and JavaScript. I enjoy building
            creative and practical solutions.I build
            scalable Django web applications.</p>
    </div>
    <div class="about-detail container-fluid mt-5">
        <div class="row justify-content-center g-4 text-center">
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="about-card" data-aos="fade-right">
                    <h2>DESIGN</h2>
                    <p>I can design the site based on your needs and suggestions. I can also design the site from
                        scratch and consult you during the job.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
                <div class="about-card" data-aos="fade-left">
                    <h2>DEVELOPMENT</h2>
                    <p>I can develop Scalable Project, I majorly use Django Web Framework which makes the development
                        robust, scalable and secure</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="about-card" data-aos="fade-up">
                    <h2>MAINTENANCE</h2>
                    <p>I can take ownership of the project's maintenance backlog, implementing necessary updates and bug
                        fixes to ensure its stability and performance.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="skills" class="py-5">
    <div class="container skill " data-aos="fade-right">
        <div class="text-center">
            <h2 class="mb-5 mx-auto">SKILLS</h2>
        </div>
        <h3>USING NOW:</h3>
        <div class="row">
            {% for stack in stacksUsed %}
            <div class="col-md-4 mb-4 icons" data-aos="fade-up">
                <img src="{{ stack.icon.url }}" alt="{{stack.name}}" class="skill-icon">
                <h5>{{ stack.name }}</h5>
            </div>
            {% endfor %}
        </div>
        <h3>LEARNING:</h3>
        <div class="row">
            {% for stack in stacksLearning %}
            <div class="col-md-4 mb-4" data-aos="fade-up">
                <div class="card h-100 shadow">
                    <img src="{{ stack.image.url }}" class="card-img-top">
                    <div class="card-body">
                        <h5>{{ project.title }}</h5>
                        <p>{{ project.description|truncatewords:15 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<!-- PROJECTS -->
<section id="projects" class="py-5">
    <div class="container skill" data-aos="fade-right">
        <div class="text-center">
            <h2 class="text-center mb-4">PROJECTS</h2>
        </div>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4 mb-4" data-aos="fade-up">
                <div class="card h-100 shadow">
                    <img src="{{ project.image.url }}" class="card-img-top">
                    <div class="card-body">
                        <h5>{{ project.title }}</h5>
                        <p>{{ project.description|truncatewords:15 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact" class="py-5">
    <div class="container text-center skill contact" data-aos="fade-up">
        <h2 class="mb-5">CONTACT</h2>
        <p>Thank you for visiting my portfolio. If you have any questions about my work or would like to discuss a
            potential project, please use the form below or connect with me via <span class="fw-bolder"> <a
                    href="https://www.linkedin.com/in/dipeshluitel/" target="_blank">LinkedIn.</a>
            </span>I look forward to hearing from
            you.</p>
    </div>
</section>

<div class="card footer">
    <div class="card-body mx-auto p-5 m-4">
        <a href="#home" class="btn-btn mb-3">BACK TO TOP</a>

        <div class="logo m-4">
            <a href="https://www.github.com/dipeshluitel" target="_blank">
                <img src="{%static 'portfolio/images/github.png' %}" class="logo-img" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/dipeshluitel/" target="_blank">
                <img src="{%static 'portfolio/images/linkedIn.png' %}" class="logo-img" alt="linkedin">
            </a>
            <a href="mailto:dipeshluitel40@gmail.com" target="_blank">
                <img src="{%static 'portfolio/images/mail.png' %}" class="logo-img" alt="mail">
            </a>
        </div>
        <p class="card-text">Made with ❤️ By: Dipesh Luitel
        </p>

    </div>
</div>

{% endblock %}